/******************************
    yqy notice 20160713
******************************/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

img,
input,
button,
select,
textarea {
    outline: none;
}

.red {
    color: #c00;
}

.b,
b {
    font-weight: 600;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fn {
    font-weight: normal;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right;
    display: inline;
}

.textR {
    text-align: right;
}

.textL {
    text-align: left;
}

.textC {
    text-align: center;
}

.posiR {
    position: relative;
}

.posiA {
    position: absolute;
}

.posiF {
    position: fixed;
}

.disB {
    display: block;
}

.disI {
    display: inline-block;
}

.nt-file-open.disN,
.disN {
    display: none;
}

.main-mask {
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.nt-thickdiv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000001;
    width: 100%;
    height: 100%;
    background: #000;
    border: 0;
    filter: alpha(opacity=3);
    opacity: .3;
}

.nt-popup {
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -175px;
    position: fixed;
    z-index: 10000002;
    overflow: hidden;
    padding: 0;
    background: #fff;
    width: 240px;
    height: 350px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0 50px;
}

.nt-popup > i {
    width: 89px;
    height: 88px;
    margin: 63px auto 30px;
    background: url(../images/notice/ntSuccess.png) no-repeat;
    display: block;
}

.nt-popup p {
    color: #1e1e1e;
    height: 59px;
    font-size: 16px;
}

.nt-popup .nt-btn {
    margin: 0px;
    width: 100%;
    padding: 9px 0 11px;
    font-size: 14px;
}

.nt-popup .nt-red {
    display: none;
}

.nt-popup.ntfail i {
    background: url(../images/notice/ntfail.png);
}

.nt-popup.ntfail span,
.nt-popup.ntfail .nt-btn {
    display: none;
}

.nt-popup.ntfail .nt-red,
.nt-popup.ntfail span.disN {
    display: block;
}

.nt-eject {
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 10000002;
    overflow: hidden;
    background: #fff;
    color: #1e1e1e;
    width: 530px;
    height: 330px;
    margin: -165px 0 0 -265px;
}

.nt-eject-title {
    padding-left: 18px;
    height: 48px;
    line-height: 48px;
    background: #f4f4f4;
}

.nt-eject-title > b {
    display: block;
    padding-left: 32px;
    background: url(../images/notice/title-ico.png) left center no-repeat;
}

.nt-eject-close {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/notice/ico.png) 0 -78px no-repeat;
    right: 20px;
    top: 17px;
}

.nt-eject-content {
    padding: 75px 75px 0;
    font-size: 14px;
    height: 108px;
}

.m0auto {
    margin: 0 auto;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.mr60 {
    margin-right: 60px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb60 {
    padding-bottom: 60px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl50 {
    padding-left: 50px;
}

.pl60 {
    padding-left: 60px;
}

.pl120 {
    padding-left: 120px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.pr50 {
    padding-right: 50px;
}

.pr60 {
    padding-right: 60px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p25 {
    padding: 20px;
}

.plr5 {
    padding: 0 5px;
}

.plr10 {
    padding: 0 10px;
}

.plr15 {
    padding: 0 15px;
}

.plr20 {
    padding: 0 20px;
}

.cl {
    float: none;
    clear: both;
}

.nt-list-ul > li,
.nt-md1,
.nt-md2,
.nt-md3,
.nt-md4,
.nt-md5,
.nt-md6,
.nt-md7,
.nt-md8,
.nt-md9,
.nt-md10,
.nt-md11,
.nt-md12 {
    float: left;
}

.nt-list-ul > li.nt-md12,
.nt-md12 {
    width: 100%;
}

.nt-md11 {
    width: 91.66666667%;
}

.nt-md10 {
    width: 83.33333333%;
}

.nt-list-ul-md3 > li.nt-md9,
.nt-md9 {
    width: 75%;
}

.nt-list-ul-md4 > li.nt-md8,
.nt-md8 {
    width: 66.66666667%;
}

.nt-md7 {
    width: 58.33333333%;
}

.nt-list-ul-md3 > li.nt-md6,
.nt-md6 {
    width: 50%;
}

.nt-md5 {
    width: 41.66666667%;
}

.nt-list-ul-md4 > li,
.nt-md4 {
    width: 33.33333333%;
}

.nt-list-ul-md3 > li,
.nt-md3 {
    width: 25%;
    *width: 24.9%;
}

.nt-md2 {
    width: 16.66666667%;
}

.nt-md1 {
    width: 8.33333333%;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h25 {
    height: 25px;
}

.h30 {
    height: 30px;
}

.lh20 {
    line-height: 20px;
}

.lh25 {
    line-height: 25px;
}

.lh30 {
    line-height: 30px;
}

.w50 {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
}

.w100 {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
}

.w120 {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
}

.w150 {
    width: 150px;
    max-width: 150px;
    min-width: 150px;
}

.w200 {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
}

.wb100 {
    width: 100%;
    overflow: auto
}

.nt-tab {
    background: #fff;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: auto;
    margin-bottom: 15px;
}

.nt-tabcontainer {
    overflow: auto;
    background: #fff;
    padding: 0 20px;
    border: 1px solid #dceee6;
    margin-bottom: 15px;
    clear: both;
}

.nt-table {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.nt-table .w50 {
    width: 46px;
    max-width: 46px;
    min-width: 46px;
}

.nt-table .w100 {
    width: 96px;
    max-width: 96px;
    min-width: 96px;
}

.nt-table .w120 {
    width: 116px;
    max-width: 116px;
    min-width: 116px;
}

.nt-table .w150 {
    width: 146px;
    max-width: 146px;
    min-width: 146px;
}

.nt-table .w200 {
    width: 196px;
    max-width: 196px;
    min-width: 196px;
}

.nt-table > thead > tr > th,
.nt-table > thead > tr > td,
.nt-table > tbody > tr > th,
.nt-table > tbody > tr > td,
.nt-table > tfoot > tr > th,
.nt-table > tfoot > tr > td {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    min-height: 39px;
    height: 39px;
    *min-height: 29px;
    *height: 29px;
    padding: 5px 2px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-bottom: 1px solid #dceee6;
    word-break: break-all;
    word-wrap: break-word;
    background: #fff;
}

.nt-table > tbody > tr > td,
.nt-table a,
.nt-table > tfoot > tr > td,
.nt-table a {
    font-size: 12px;
    color: #59676f;
}

.nt-table > thead > tr > th,
.nt-table > thead > tr > td {
    font-size: 13px;
}

.nt-table > thead > tr > td.active,
.nt-table > tbody > tr > td.active,
.nt-table > tfoot > tr > td.active,
.nt-table > thead > tr > th.active,
.nt-table > tbody > tr > th.active,
.nt-table > tfoot > tr > th.active,
.nt-table > thead > tr.active > td,
.nt-table > tbody > tr.active > td,
.nt-table > tfoot > tr.active > td,
.nt-table > thead > tr.active > th,
.nt-table > tbody > tr.active > th,
.nt-table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}

.nt-table tbody tr:last-child td {
    border: 0px;
}

.nt-table-hover > tbody > tr:hover {
    background-color: #e8e8e8;
}

.nt-table tr:focus {
    background: #c00;
}

@media (max-width: 968px) {
    .nt-tabcontainer {
        padding: 0 15px;
    }
}

.nt-title {
    height: 42px;
    border-bottom: 1px solid #e9eeef;
}

.nt-title > label {
    line-height: 42px;
    font-weight: 700;
}

.nt-title.posiR .nt-btn.posiA {
    right: 0px;
    top: 7px;
}

.nt-title-error {
    right: 0px;
    top: 0px;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    font-size: 14px;
}

.nt-title-error > p.fr {
    margin-left: 40px;
    width: 270px;
}

.nt-title-error > ul.fr li {
    width: 190px;
    overflow: hidden;
    float: right;
}

.nt-frame {
    background: #fff;
    border: 1px solid #dceee6;
    margin-bottom: 15px;
    padding: 0 20px;
}

.nt-frame.nt-frame-nobtn {
    padding-bottom: 10px;
}

.nt-frame.nt-frame-notitle,
.nt-frame.nt-frame-nobtn .nt-list,
.nt-frame.nt-detail {
    padding-bottom: 0px;
}

.nt-frame.nt-frame-notitle .nt-list {
}

.nt-list.nt-list-detail,
.nt-frame.nt-detail .nt-list {
    padding: 24px 0 10px;
}

.nt-list.nt-list-detail .nt-list-ul > li,
.nt-list.nt-list-detail .nt-list-di,
.nt-frame.nt-detail .nt-list-ul > li,
.nt-frame.nt-detail .nt-list-div {
    height: 28px;
    overflow: hidden;
    margin-bottom: 0px;
}

.nt-list.nt-list-detail .nt-list-label,
.nt-list.nt-list-detail .nt-list-input,
.nt-frame.nt-detail .nt-list-label,
.nt-frame.nt-detail .nt-list-input {
    padding-top: 0px;
    line-height: 14px;
    color: #000;
}

.nt-downloadtemplate,
.nt-file-open,
.nt-ellipsis,
.nt-list.nt-list-detail .nt-list-input,
.nt-frame.nt-detail .nt-list-input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nt-operation {
    margin-bottom: 34px;
    clear: both;
}

@media (max-width: 968px) {
    .nt-frame {
        padding: 0 15px;
    }
}

.nt-list {
    color: #59676f;
    font-size: 13px;
    padding: 25px 0 19px;

}

.nt-list-ul > li,
.nt-list-div {
    float: left;
    height: 34px;
    position: relative;
    margin-bottom: 15px;
}

.nt-list-label {
    padding-top: 6px;
    overflow: hidden;
    float: left;
    display: block;
    width: 34%;
    padding-right: 1%;
    text-align: right;
}

.nt-list-input {
    line-height: 32px;
    width: 65%;
    float: left;
    position: relative;
}

.nt-list-ul-md3 > li.nt-md6 .nt-list-label,
.nt-list-ul-md4 > li.nt-md8 .nt-list-label,
.nt-list-div.nt-md8 .nt-list-label {
    width: 17%;
    padding-right: 0.4%;
}

.nt-list-ul-md3 > li.nt-md6 .nt-list-input,
.nt-list-ul-md4 > li.nt-md8 .nt-list-input,
.nt-list-div.nt-md8 .nt-list-input {
    width: 82.6%;
    *width: 82%;
}

.nt-frame.nt-detail .nt-list-ul > li.nt-heightauto,
.nt-list.nt-list-detail .nt-list-ul > li.nt-heightauto,
.nt-list-ul > li.nt-heightauto,
.nt-heightauto {
    height: auto;
    margin-bottom: 15px;
}

.nt-list-ul > li.mb5 {
    margin-bottom: 5px;
}

.nt-list-ul > li.nt-md12 .nt-list-label,
.nt-list-div.nt-md12 .nt-list-label {
    width: 11.4%;
    padding-right: 0.2%;
}

.nt-list-ul > li.nt-md12 .nt-list-input,
.nt-list-div.nt-md12 .nt-list-input {
    width: 88.4%;
    *width: 88%;
}

.nt-list-ul-md3 > li.nt-md12 .nt-list-label {
    width: 8.5%;
    padding-right: 0.2%;
}

.nt-list-ul-md3 > li.nt-md12 .nt-list-input {
    width: 91.3%;
    *width: 91%;
}

.nt-list-ul-md3 > li.nt-md9 .nt-list-label {
    width: 11.38%;
    padding-right: 0.3%;
}

.nt-list-ul-md3 > li.nt-md9 .nt-list-input {
    width: 88.32%;
}

.nt-list-choice .nt-list-label {
    padding: 0px;
}

.nt-list-choice .nt-list-input {
    margin-top: -5px;
}

.nt-btn {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    padding: 5px 18px 7px;
    min-width: 96px;
    margin: 0 6px 0 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    *min-width: auto;
    *max-width: 200px;
    *padding: 2px 18px 4px;
}

.nt-btn.btn-xs {
    font-size: 12px;
    padding: 1px 10px 3px;
    min-width: 56px;
    *min-width: auto;
    *padding: 0px 10px 2px;
    margin: 0 3px 0 5px;
}

.nt-green {
    background: #51d2b7;
    border-color: #51d2b7;
}

.nt-blue {
    background: #5bcaf3;
    border-color: #5bcaf3;
}

.nt-red {
    background: #f05866;
    border-color: #f05866;
}

.nt-gray {
    background: #aaa;
    border-color: #aaa;
}

.nt-violet {
    background: #9185dc;
    border-color: #9185dc;
}

.nt-yellow {
    background: #ffc000;
    border-color: #ffc000;
}

.nt-pink {
    background: #f9a9c3;
    border-color: #f9a9c3;
}

.nt-btn.nt-green:hover {
    background: #31c0a2;
    border-color: #31c0a2;
}

.nt-btn.nt-blue:hover {
    background: #38b7e6;
    border-color: #38b7e6;
}

.nt-btn.nt-red:hover {
    background: #e14755;
    border-color: #e14755;
}

.nt-btn.nt-gray:hover {
    background: #989898;
    border-color: #989898;
}

.nt-btn.nt-violet:hover {
    background: #7b6ed2;
    border-color: #7b6ed2;
}

.nt-btn.nt-yellow:hover {
    background: #eeb301;
    border-color: #eeb301;
}

.nt-btn.nt-pink:hover {
    background: #fb88ad;
    border-color: #fb88ad;
}

.nt-btn.nt-ellipse,
.nt-btn.nt-null {
    border: 1px solid #51d2b7;
    background: none;
    color: #51d2b7;
    min-width: 106px;
    *min-width: auto;
    *max-width: 200px;
}

.nt-btn.nt-ellipse {
    padding: 3px 18px 4px;
    font-size: 13px;
    min-width: 89px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    *padding: 0px 18px;
    *min-width: auto;
    *max-width: 200px;
}

.nt-state {
    display: inline;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    padding: 2px 9px 3px;
    min-width: 37px;
}

.nt-btn:hover
.nt-state:hover {
    text-decoration: none;
}

.nt-state.nt-null {
    padding: 1px 9px 2px;
    border: 1px solid #51d2b7;
    background: none;
    color: #51d2b7;
}

.nt-table > tbody > tr > td a.nt-color-green,
.nt-table > tbody > tr > td.nt-color-green,
a.nt-color-green,
.nt-color-green {
    color: #51d2b7
}

.nt-state.nt-null.nt-blue {
    border-color: #5bcaf3;
    color: #5bcaf3;
}

.nt-table > tbody > tr > td a.nt-color-blue,
.nt-table > tbody > tr > td.nt-color-blue,
.nt-state.nt-null.nt-blue,
a.nt-color-blue,
.nt-color-blue {
    color: #5bcaf3
}

.nt-state.nt-null.nt-red {
    border-color: #f05866;
}

.nt-table > tbody > tr > td a.nt-color-red,
.nt-table > tbody > tr > td.nt-color-red,
.nt-state.nt-null.nt-red,
a.nt-color-red,
.nt-color-red {
    color: #f05866;
}

.nt-state.nt-null.nt-gray {
    border-color: #aaa;
}

.nt-table > tbody > tr > td a.nt-color-gray,
.nt-table > tbody > tr > td.nt-color-gray,
.nt-state.nt-null.nt-gray,
a.nt-color-gray,
.nt-color-gray {
    color: #aaa;
}

.nt-state.nt-null.nt-violet {
    border-color: #9185dc;
}

.nt-table > tbody > tr > td a.nt-color-violet,
.nt-table > tbody > tr > td.nt-color-violet,
.nt-state.nt-null.nt-violet,
a.nt-color-violet,
.nt-color-violet {
    color: #9185dc;
}

.nt-state.nt-null.nt-yellow {
    border-color: #ffc000;
}

.nt-table > tbody > tr > td a.nt-color-yellow,
.nt-table > tbody > tr > td.nt-color-yellow,
.nt-state.nt-null.nt-yellow,
a.nt-color-yellow,
.nt-color-yellow {
    color: #ffc000;
}

.nt-state.nt-null.nt-pink {
    border-color: #f9a9c3;
}

.nt-table > tbody > tr > td a.nt-color-pink,
.nt-table > tbody > tr > td.nt-color-pink,
.nt-state.nt-null.nt-pink,
a.nt-color-pink,
.nt-color-pink {
    color: #f9a9c3;
}

.nt-downloadtemplate,
.nt-list-input select,
.nt-input,
.nt-file-open,
.nt-textarea {
    border: 1px solid #e4e4e4;
    font-size: 13px;
    background-color: #fff;
    background-image: none;
    position: relative;
    padding: 7px 10px 9px;
    width: 100%;
    *width: 98%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nt-input {
    height: 34px;
    *height: 14px;
    *line-height: 17px;
    color: #59676f;
}

.nt-list-input select {
    height: 34px;
    padding: 6px 10px 8px;
    *height: 16px;
    *line-height: 19px;
    color: #59676f;
}

.nt-downloadtemplate {
    display: block;
    padding: 0 10px;
    overflow: hidden;
    text-align: center;
    border-color: #51d2b7;
    color: #51d2b7;
}

.nt-downloadtemplate:hover {
    text-decoration: underline;
}

.nt-textarea:focus,
.nt-input:focus {
    border-color: #51d2b7;
}

.nt-textarea[disabled],
.nt-input[disabled] {
    background: #eee;
}

.nt-textarea {
    display: block;
    line-height: 20px;
    height: 120px;
}

.nt-resize {
    resize: none;
}

.nt-md12 .nt-choice {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    overflow: hidden;
    width: 19%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0.5%;
    min-width: 120px;
}

.nt-choice,
.nt-choice-radio {
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 13px;
    padding-left: 26px;
    height: 20px;
    line-height: 20px;
    margin-right: 20px;
    position: relative;
    margin-top: 5px;
}

.nt-m0auto,
.nt-choice-not {
    margin: 0px auto;
    float: none;
}

.nt-choice > input,
.nt-choice-radio > input {
    display: none;
}

.nt-choice > input + span,
.nt-choice-radio > input + span {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #e4e4e4;
    overflow: hidden;
}

.nt-choice.checked span,
.nt-choice-radio.checked span {
    position: absolute;
    border-color: #31c0a2;
    *background: #31c0a2;
}

.nt-choice.checked span:after,
.nt-choice-radio.checked span:after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background: #31c0a2;
    margin: 4px;
}

.nt-circular,
.nt-choice-radio span,
.nt-choice-radio span:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/*分页*/

.nt-panelbar {
    background: #fff;
    height: 30px;
    margin-bottom: 15px;
    clear: both;
    width: 100%;
    overflow: auto;
}

.nt-panelbar .nt-pagination {
    float: right;
}

.nt-panelbar ul {
    padding: 0px;
    margin: 0px;
}

.nt-pagination li {
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    background: #fff;
    font-size: 12px;
    text-align: center;
}

.nt-pagination li a {
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    color: #59676f;
    display: block;
    border: 1px solid #e4e4e4;
    border-left: 0px;
    height: 28px;
}

.nt-pagination li.nt-first a {
    border-left: 1px solid #e4e4e4;
}

.nt-pagination li.nt-first a,
.nt-pagination li.nt-prev a,
.nt-pagination li.nt-next a,
.nt-pagination li.nt-last a {
    width: 61px;
}

.nt-pagination li.nt-num {
    padding: 0px;
    width: 30px;
}

.nt-pagination li.nt-jumpto {
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
    padding: 0 35px 0 10px;
    background: none;
    background: #fff;
    border: 1px solid #dee5e7;
    position: relative;
}

.nt-pagination li:hover {
    background: #f4f4f4;
}

.nt-pagination li.nt-pages {
    width: 188px;
    border: 1px solid #e4e4e4;
    border-left: 0px;
    height: 28px;
    line-height: 28px;
}

.nt-pagination li.nt-pages:hover,
.nt-pagination li.nt-jumpto:hover {
    background: #fff;
}

.nt-pagination li.nt-pages span {
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    width: 113px;
}

.nt-pagination li.nt-pages .nt-pages-num {
    width: 74px;
    border-right: 1px solid #e4e4e4;
    text-align: center;

}

.nt-pagination li.checked:hover a,
.nt-pagination li.hover.checked a,
.nt-pagination li.checked a {
    background: #35d4b5;
    border-color: #35d4b5;
    color: #fff;
}

.nt-pagination li.checked a {
    position: relative;
    color: #fff;
    font-weight: normal;
}

.nt-pagination li.checked a:before {
    top: -1px;
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    display: block;
    background: #35d4b5;
}

.nt-pagination li.checked a:before {
    left: -1px;
}

.nt-pagination li.nt-jumpto .nt-textInput {
    border: 0px;
    border-bottom: 1px solid #a3a3a3;
    width: 20px;
    text-align: center;
    margin: 0px 5px;
    padding: 0px;
    background: none;
}

.nt-pagination li.nt-jumpto .nt-goto {
    background: none;
    position: absolute;
    right: -1px;
    top: -1px;
    height: 30px;
    border: 0px;
    border-left: 1px solid #35d4b5;
    width: 29px;
    background: #35d4b5;
}

.nt-pagination li.nt-jumpto .nt-goto:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
    top: 11px;
    right: 11px;
}

.nt-radio {
    border: 1px solid #dee5e7;
    height: 32px;
    background: #fff;
}

.nt-radio label {
    float: left;
    width: 50%;
    display: block;
    height: 32px;
    *width: 49.999999%;
    *overflow: hidden;
}

.nt-radio span {
    cursor: pointer;
    display: block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 13px;
    color: #59676f;
    -webkit-appearance: none;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    background-color: #ffffff;
}

.nt-radio span:hover {
    background: #fdfdfd;
}

.nt-radio label.checked span {
    background: #c00;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.2);
    background: #f8f8f8;
}

.nt-frame.checked .nt-divhied {
    height: 74px;
    margin-bottom: 19px;
    overflow: hidden;
}

.nt-frame.checked .nt-btnshow span {
    display: none;
}

.nt-frame.checked .nt-btnshow span.disN {
    display: block;
}

/******************************
    yus validate 20160721
******************************/
.nt-error-span,
label.error,
span.error {
    color: red;
    font-size: 12px;
    display: none;
    position: absolute;
    bottom: -17px;
    right: 0;
    line-height: 18px;

}

input.error {
    border: 1px solid red;
}

.nt-list-input.nt-error > select,
.nt-list-input.nt-error > .nt-input,
.nt-list-input.nt-error > .nt-textarea {
    border-color: #cd0a0a;
}

label.error,
.nt-ico,
.nt-list-input.nt-error .nt-error-span {
    display: block;
}

.nt-ico {
    z-index: 999;
    cursor: pointer;
    background-image: url(../images/notice/ico.png);
    background-repeat: no-repeat;
    position: absolute;
}

.nt-ico-empty {
    width: 16px;
    height: 16px;
    right: -26px;
    top: 10px;
}

.nt-file-up,
.nt-file-down,
.nt-ico-more {
    right: 1px;
    top: 1px;
    background-position: 10px -17px;
    background-color: #f5f8f8;
    height: 32px;
    width: 34px;
    border-left: 1px solid #e4e4e4;
}

.nt-file-down {
    background-position: 11px -98px;
}

.nt-file-up {
    background-position: 11px -127px;
}

.nt-file-open {
    text-decoration: underline;
    padding: 0px 42px 0px 10px;
    display: block;
    overflow: hidden;
    line-height: 32px;
    color: #59676f;
}



/* 下拉搜索 start */
.nt-one-drop-down,
.nt-one-drop-down *,
.nt-two-drop-down,
.nt-two-drop-down *,
.nt-drop-down-search,
.nt-drop-down-search *,
.nt-drop-down-single-search,
.nt-drop-down-single-search *,
.nt-four-linkage,
.nt-four-linkage * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.nt-one-drop-down,
.nt-two-drop-down,
.nt-drop-down-search,
.nt-drop-down-single-search,
.nt-drop-down-search .nt-bar-title,
.nt-drop-down-single-search .nt-bar-title,
.nt-four-linkage,
.nt-four-linkage .nt-bar-title {
    position: relative;
    width: 100%;
    *width: 98%;
    display: block;
}

.nt-drop-down-single-search .nt-bar-title,
.nt-drop-down-search .nt-bar-title,
.nt-four-linkage .nt-bar-title {
    border: 1px solid #cfdadd;
}

.nt-drop-down-search .nt-search-area div {
    float: left;
    width: auto;
}

.nt-drop-down-search .nt-myli {
    float: left;
    width: 100%;
    padding: 10px;
    padding-bottom: 5px;
    background: #e7e7e7;
}

.nt-drop-down-search .nt-myli span {
    float: left;
    line-height: 22px;
    padding-bottom: 5px;
}

.nt-drop-down-search .nt-myli .nt-select-area {
    margin-left: 40px;
    margin-right: 0px;
    display: block;
    overflow: hidden;
}

.nt-drop-down-search .nt-myli .nt-select-div {
    float: left;
    width: auto;
    margin-left: 5px;
    padding: 0 5px;
    height: 22px;
    line-height: 20px;
    font-size: 12px;
    color: #59676f;
    border: 1px solid #eceeef;
    background: #fff;
    margin-bottom: 5px;
}

.nt-drop-down-search .nt-myli i {
    font-style: normal;
    margin-left: 5px;
    cursor: pointer;
    color: #ccc;
}

.nt-drop-down-search .nt-myli i:hover {
    color: #333;
}

/* 下拉搜索end */

/* 下拉单项搜索 start*/
.nt-one-drop-down .nt-search-area,
.nt-two-drop-down .nt-search-area,
.nt-drop-down-search .nt-search-area,
.nt-four-linkage .nt-search-area,
.nt-drop-down-single-search .nt-search-area {
    margin-left: 0px;
    margin-right: 32px;
    height: 32px;
    background: #fff;
    display: block;
}

.nt-drop-down-search .nt-search-area,
.nt-four-linkage .nt-search-area,
.nt-drop-down-single-search .nt-search-area {
    padding: 5px 0px;
}

.nt-drop-down-search .nt-list-item,
.nt-drop-down-single-search .nt-list-item {
    width: 100%;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    color: #59676f;
    background: #fdfdfd;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

/* 下拉单项搜索 end*/
/* 一级下拉菜单 start */
.nt-drop-down-search .nt-select-btn,
.nt-drop-down-single-search .nt-select-btn,
.nt-one-drop-down .nt-select-btn,
.nt-two-drop-down .nt-select-btn,
.nt-four-linkage .nt-select-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 31px;
    height: 32px;
    background: #f5f8f8;
    border-left: 1px solid #e4e4e4;
    cursor: pointer;
}

.nt-drop-down-search .nt-select-btn:before,
.nt-drop-down-single-search .nt-select-btn:before,
.nt-one-drop-down .nt-select-btn:before,
.nt-two-drop-down .nt-select-btn:before,
.nt-four-linkage .nt-select-btn:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #57656e;
    top: 15px;
    right: 11px;
}

.nt-one-drop-down .nt-list-item {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    color: #59676f;
    background: #fdfdfd;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

/* 一级下拉菜单 end */

/* 二级下拉菜单 start */
.nt-one-drop-down .nt-bar-title,
.nt-two-drop-down .nt-bar-title {
    position: relative;
    width: 100%;
    display: block;
    border: 1px solid #e4e4e4;
}

.nt-one-drop-down .nt-search-in,
.nt-two-drop-down .nt-search-in {
    float: left;
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    outline: none;
    border: none;
    color: #59676f;
    cursor: pointer;
}

.nt-one-drop-down .nt-list-nostyle,
.nt-two-drop-down .nt-list-nostyle,
.nt-drop-down-search .nt-list-nostyle {
    top: 33px;
    position: absolute;
    left: 0px;
    z-index: 100;
    border-top: 0px;
    display: none;
    font-weight: normal;
    height: 300px;
}

.nt-one-drop-down .nt-list-nostyle {
    width: 100%;
}

.nt-drop-down-search .nt-list-nostyle,
.nt-drop-down-single-search .nt-list-nostyle {
    width: 100%;
    max-height: 300px;
    height: auto;
}

.nt-drop-down-single-search .nt-list-nostyle {
    left: 0px;
    z-index: 100;
}

.nt-two-drop-down .nt-item-content li {
    float: left;
    width: 100%;
    height: 35px;
    padding-left: 40px;
    line-height: 35px;
    cursor: pointer;
}

.nt-list-input.right .nt-list-nostyle,
.nt-two-drop-down.right .nt-list-nostyle {
    left: auto;
    right: 0px;
}

.nt-list-input.right .nt-list-nostyle .nt-item-content,
.nt-two-drop-down.right .nt-list-nostyle .nt-item-content {
    border-left: 1px solid #dcdcdc;
    border-right: 0px;
    left: auto;
    right: 200px;
}

/* 二级下拉菜单 end */

/* 下拉四级联动单项搜索 start*/
.nt-drop-down-search .nt-search-in,
.nt-drop-down-single-search .nt-search-in,
.nt-four-linkage .nt-search-in {
    float: left;
    display: block;
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin-left: 10px;
    outline: none;
    border: none;
}

.nt-drop-down-search .nt-content-scroller,
.nt-drop-down-single-search .nt-content-scroller,
.nt-one-drop-down .nt-content-scroller,
.nt-two-drop-down .nt-content-scroller {
    float: left;
    width: 100%;
    max-height: 280px;
    overflow: hidden;
    overflow-y: auto;
    font-weight: normal;
}

.nt-drop-down-search .nt-content-scroller {
    max-height: 250px;
    height: auto;
    border: 1px solid #e4e4e4;
    border-top: 0px;
}

.nt-drop-down-single-search .nt-content-scroller {
    max-height: 250px;
}

.nt-one-drop-down .nt-content-scroller,
.nt-two-drop-down .nt-content-scroller {
    border: 1px solid #e4e4e4;
}

.nt-two-drop-down .nt-content-scroller {
    width: 200px;
    height: 280px;
    background: #fdfdfd;
}

.nt-drop-down-single-search .nt-list-nostyle,
.nt-two-drop-down .nt-item-content,
.nt-four-linkage .nt-list-nostyle {
    border: 1px solid #e4e4e4;
    border-top: 0px;
    position: absolute;
    border-top: 0px;
    background: #fff;
    font-weight: normal;
    list-style: none;
    display: none;
    z-index: 100;
}

.nt-two-drop-down .nt-item-content {
    border-top: 1px solid #e4e4e4;
    left: 200px;
    width: 200px;
    height: 280px;
    overflow: auto;
    color: #59676f;
}

.nt-drop-down-single-search .nt-list-nostyle,
.nt-four-linkage .nt-list-nostyle {
    left: 0px;
    width: 100%;
    max-height: 300px;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
}

.nt-four-linkage .nt-content-scroller {
    width: 100%;
    height: auto;
    font-weight: normal;
}

.nt-two-drop-down .nt-list-item,
.nt-four-linkage .nt-list-item {
    width: 100%;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    color: #59676f;
    background: #fdfdfd;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}

.nt-drop-down-search .nt-list-item:hover,
.nt-drop-down-single-search .nt-list-nostyle li.active,
.nt-drop-down-single-search .nt-list-item:hover,
.nt-one-drop-down .nt-list-nostyle li.active,
.nt-one-drop-down .nt-list-item:hover,
.nt-two-drop-down .nt-list-nostyle li.active,
.nt-two-drop-down .nt-item-content li:hover,
.nt-two-drop-down .nt-list-item:hover,
.nt-four-linkage .nt-list-nostyle li.active,
.nt-four-linkage .nt-list-item:hover {
    background: #f3f3f3;
}

.nt-drop-down-search .nt-list-item:hover,
.nt-drop-down-single-search .nt-list-item:hover,
.nt-two-drop-down .nt-list-item:hover,
.nt-four-linkage .nt-list-item:hover {
    border-bottom: 1px solid #f0f0f0;
}

.nt-search-in::-moz-placeholder,
.nt-textarea::-moz-placeholder,
.nt-input::-moz-placeholder {
    color: #c1c5c7;
}

.nt-search-in:-ms-input-placeholder,
.nt-textarea:-ms-input-placeholder,
.nt-input:-ms-input-placeholder {
    color: #c1c5c7;
}

.nt-search-in::-webkit-input-placeholder,
.nt-textarea::-webkit-input-placeholder,
.nt-input::-webkit-input-placeholder {
    color: #c1c5c7;
}

.nt-two-drop-down .nt-search-in.please-choose,
.nt-one-drop-down .nt-search-in.please-choose {
    color: #c1c5c7;
}

/* 下拉四级联动单项搜索 end*/

/* Let's get this party started */
.nt-content-scroller::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.nt-content-scroller::-webkit-scrollbar-track {
    background: #FDFDFD;
}

/* Handle */
.nt-content-scroller::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(220, 220, 220, 1);
}

/* Let's get this party started */
.nt-item-content::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.nt-item-content::-webkit-scrollbar-track {
    background: #FDFDFD;
}

/* Handle */
.nt-item-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(220, 220, 220, 1);
}

/*CSS3 <ie8*/
.nt-circular,
.nt-state,
.nt-choice > input[type="radio"] + span,
.nt-choice > input[type="radio"] + span:after {
    behavior: url(images/notice/pie.htc);
}



@media (max-width: 868px) {
    .nt-ico-empty {
        right: -16px;
    }

    .nt-list-ul > li,
    .nt-list-div.nt-md3,
    .nt-list-div.nt-md4 {
        width: 50%;
    }

    .nt-list-ul-md3 > li.nt-md6,
    .nt-list-ul-md3 > li.nt-md9,
    .nt-list-ul-md4 > li.nt-md8,
    .nt-list-ul-md4 > li.nt-md8 + li,
    .nt-list-div.nt-md8,
    .nt-list-div.nt-md8 + .nt-list-div{
        width: 100%;
    }


    .nt-list-ul-md4 > li.nt-md12 .nt-list-label,
    .nt-list-ul-md4 > li.nt-md8 .nt-list-label,
    .nt-list-ul-md4 > li.nt-md8 + li .nt-list-label,
    .nt-list-ul-md3 > li.nt-md12 .nt-list-label,
    .nt-list-ul-md3 > li.nt-md9 .nt-list-label,
    .nt-list-ul-md3 > li.nt-md6 .nt-list-label,
    .nt-list-div.nt-md12 .nt-list-label,
    .nt-list-div.nt-md8 .nt-list-label,
    .nt-list-div.nt-md8 + .nt-list-div .nt-list-label{
        width: 17%;
        padding-right: 0.4%;
    }

    .nt-list-ul-md4 > li.nt-md12 .nt-list-input,
    .nt-list-ul-md4 > li.nt-md8 .nt-list-input,
    .nt-list-ul-md4 > li.nt-md8 + li .nt-list-input,
    .nt-list-ul-md3 > li.nt-md12 .nt-list-input,
    .nt-list-ul-md3 > li.nt-md9 .nt-list-input,
    .nt-list-ul-md3 > li.nt-md6 .nt-list-input,
    .nt-list-div.nt-md12 .nt-list-input,
    .nt-list-div.nt-md8 .nt-list-input,
    .nt-list-div.nt-md8 + .nt-list-div .nt-list-input {
        width: 82.5%;
    }
}

@media (max-width: 668px) {
    .nt-list-ul > li,
    .nt-list-div.nt-md3,
    .nt-list-div.nt-md4 {
        width: 100%;
    }

    .nt-list-ul > li .nt-list-label,
    .nt-list-div.nt-md3 .nt-list-label,
    .nt-list-div.nt-md4 .nt-list-label {
        width: 16.5%;
    }

    .nt-list-ul > li .nt-list-input,
    .nt-list-div.nt-md3 .nt-list-input,
    .nt-list-div.nt-md4 .nt-list-input {
        width: 82.5%;
    }
}

.nt-list.nt-lineb {
    border-bottom: 1px solid #e9eeef;
    padding: 25px 0 9px;
}